{% extends "base.html" %}

{% block app_content %}
    <p> Millenium Falcon Challenge </p>
    <div class="container">
        <div id="app">
            <div id="postEmpireData">
                <form @submit.prevent="submit_file()"
                      action="{{ url_for("api_bp.upload_file_api") }}"
                      method="post"
                      id="submit_file_and_comput_data_form"
                >
                    <label>File
                        <input type="file" id="file" ref="file" v-on:change="handle_file_upload()" required/>
                    </label>
                    <button type="submit">upload file and compute data</button>
                </form>

            </div>
            <div>
                <p> File data </p>
                <p> <% answer_data.upload_file_json_answer %> </p>
            </div>

            <div class="displayResults">
                <p> Probability of success: <% answer_data.odds_of_success  %>% </p>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="{{ url_for('static',filename="scripts/base_app.js") }}"></script>
{% endblock %}